
<div class="c" id="comment-form-container" ng-controller="questionController" >


   <div class="comment-form" id="comment-form"  >
     <form  id="fmask" name="edit">
        <div class="comment-form-widgets-container" >
            <textarea style="height:100px; width:100%" ng-model="comment.answer_comment" value="{{comment.answer_comment}}"></textarea><br />
            <div class="comment-form-buttons">
                <div class="comment-form-buttons-container">
             <input type="submit" value="Submit" class="btn btn-primary comment-submit"  ng-click="editSaveAnsComm(comment.comans_id)">
            <input type="submit" ng-click="cancelEditComm()" value="Cancel" class="btn comment-cancel">
                </div>
                
            </div>
            <div style="clear:both;"></div>
        </div>
    </form>
</div>
  
</div>


