<section id="middle">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
 <div class="span8 mainContent">
<div class="widget">
    <div class="widget-header">
        <i class="icon-pencil"></i>
        <h3>Edit Answer</h3>
    </div>

<div class="widget-content" >

<div class="ask-form-wrapper">
            <div class="ask-gravatar hidden-phone">
         <img width="44" title="fffffffffff" alt="avatar image" id="" src="https://secure.gravatar.com/avatar/2f9bea277694bec842faca5126ab9ecd?d=identicon&amp;r=PG&amp;s=44" class="gravatar ">
            </div>
    
<form  id="fmask">
  <input type="hidden" >
                <div class="control-group"> 
            <div class="controls" title="" >
    <textarea  rows="10" name="body" id="body" data-type="answer" class="redactor" ng-model="edAns.description" value="{{edAns.description}}">
</textarea>
                   
     </div>
    </div>
 <div class="form-actions">
            <input type="submit" value="Save" class="btn btn-primary pull-right submit" name="ask" id="submit-question" ng-click="editSaveAnswer(edAns.id)">
           <input type="button" value="Cancel" ng-click="" class="btn submit cancel pull-right">
             </div>
          </form>
     </div>
</div><!-- widget content   --> 
</div> <!-- widget end   --> 
 </div><!--mainContent-->
 </div><!-- row-->
</div>
</div>
</div>
  </section>

