
<div class="widget-content" ng-controller="questionController"  ng-init='getAllAnswer(singles.id)'>
  <div nodeid="145301" class="post-container answer-container clearfix" id="answer-container-145301" ng-repeat ="answer in getAnswer">
 
 <div ng-if = "isUserLoggedIn() && getUserInfo() == answer.user_id" nodeid="146456" class="post-tools" >
           <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-cog"></i></a>
                        <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                <li class="item">
                                    <a href="" ng-click="editAnswer(answer.ans_id)" class="node-tools-edit-link" rel="nofollow"><i class="icon-edit"></i> Edit</a>
                                </li>
                                <li class="item">
                                    <a href="" ng-click="removeAns(answer.ans_id)" command="deletePost" class="ajax-command" title="">Delete</a>
                                </li>
                        </ul>
          </div>

 <p style="display:none">   {{$index+1}}</p>
 <div class="answer clearfix post" id="answer-145301" >
 <div nodeid="145301" class="post-gravatar answer-gravatar">
        <div class="vote-widget">
            <a command="voteUp" href=""  ng-click="upVoteAns(answer.ans_id)" class="vote-up votes" id="vote-up-button-145301" title="Click to up vote"><i class="icon-circle-arrow-up icon"></i></a>
            <span data-target="#post-145301-votes-modal" data-toggle="modal" class="post-score-wrapper count votes" id="post-145301-score-wrapper">
                <span class="score" id="post-145301-score">{{answer.likes}}</span>
            </span>
            <a command="voteDown" href=""   ng-click="downVoteAns(answer.ans_id)" class="vote-down votes" id="vote-down-button-145301" title="Click to down vote"><i class="icon-circle-arrow-down icon"></i></a>
        </div>
</div>

  <p class="muted author-info">
 <strong>Answer</strong> by <a nodeid="187103" rel="user" href="" ng-click="userProfile(answer.user_id)">{{answer.name}}</a>  

 <span class="post-info muted">{{answer.created_at | date}} </span></p>

  <div class="answer-body"> 
        <p>{{answer.description}} </p>

     </div>
<!--   {{answer.ans_id}} -->
<div class="comment-tools hidden"><span class="add-comment-link "><a href="#">Comment</a></span></div>

<div nodeid="145267" class="control-bar">
    <div nodeid="145267" class="post-controls">
        <a href="" ng-click="showCommentReplyBox($index)" class="comment_button">Add comment</a>
    </div>

</div>
  
 <div id="comments-container" class="comments" ng-if="$index == indexShow ">
<form  id="fmask" name="answer_form">
        <div class="comment-form-widgets-container">
    <!--     <div  ng-repeat="answer in getAnswer">
           <input type="hidden" name="post_id" ng-model="answer.ans_id" value="{{answer.ans_id}}">
         </div> -->
         <textarea style="height:150px; width:100%" data-ng-model="answercomment" id="answercomment" value=""></textarea><br />
           
            <div class="comment-form-buttons" >
                <div class="comment-form-buttons-container">
                    <input type="submit" value="Submit" class="btn btn-primary comment-submit"  ng-click="postAnswerComment(answer.ans_id)">
                    <input type="submit" ng-click="cancelCommentBox()" value="Cancel" class="btn comment-cancel">
                </div>
                
            </div>
            <div style="clear:both;"></div>
        </div>
    </form>


 </div>
 <div >
  <div ng-include="'views/authuser/getAnsComm.html'"></div> 
</div>
    </div>
       
            </div>
        </div>
